$def with (golfers)

<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VimGolf Rankings</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body id="home">
    <header>
        <h3>Complete VimGolf Rankings</h3>
    </header>
    <div>
        <p>Here is the official definition of rankings:</p>
        <ul>
            <li>Global rank is the sum of your ranks on each challenge</li>
            <li>Skipping a challenge implicitly yields the lowest rank</li>
        </ul>
    </div>
    <section>
    <table>
        <tr class="topheader"><td>Ranking</td><td>ID</td><td>Global Rank</td></tr>
        $for g in golfers:
            <tr class="top">
                <td class="rank"></td>
                <td><a href="http://vimgolf.com/${g.handle}" class="top">${g.handle}</a></td>
                <td class="global_rank">${g.global_rank}</td>
            </tr>
    </table> 
    </section>

    <footer>
        <p>
        </p>
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
        beautify_globalrank();
    </script>
</body>

</html>

