$def with (golfers)

<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VimGolf Ranking</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body id="home">

    <header>
        <h3><b>Open VimGolf Challenges</b></h3>
    </header>

    <section>
        <div>
        $for g in golfers:
            <div>
                ${g.handle} ${g.rank} ${g.global_rank}
            </div>
        </div>
    </section>

    <footer>
        <p>
        </p>
    </footer>

    <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>

