$def with (golfers)

<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VimGolf Ranking</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body id="home">
    <header>
        <h3>Complete VimGolf Ranking</h3>
    </header>

    <section>
    <ol>
        $for g in golfers:
        <li><span class="top"><a href="http://vimgolf.com/${g.handle}" class="top">${g.handle}</a></span><span class="top">${g.global_rank}</span></li>
    </ol>
    </section>

    <footer>
        <p>
        </p>
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
        jQuery('ol li:even').addClass('top-even');
    </script>
</body>

</html>

